.navigation
{
    margin:auto;
   
    
  
    
   
}
ul li
{
    display: inline;
   color: aliceblue;
    font-size: 30px;
    background-color: black;
    padding: 20px;border-style:double;
    
    
   
}
ul li:hover
{
    background-color: darkslategray;
}
ul li a
{
    text-decoration: none;
    color: aliceblue;
    
}